html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

.card {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 19px;
  text-align: center;
  width: 260px;
  margin: 0 auto;
}

.card img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.card h1 {
  font-weight: 500;
  margin-bottom: 0;
}

.card h2 {
  font-weight: normal;
  font-size: 16px;
  color: gray;
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card p.bio {
  text-align: left;
}

.timeline {
  position: relative;
  list-style-type: none;
  padding: 0;
  width: 300px;
  margin: 0 auto 4em;
  padding: 4em 0 0;
}

.timeline:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 1px;
  bottom: 0;
  background-color: lightgray;
}

.timeline li {
  text-align: center;
}

.timeline h3, .timeline h4 {
  background: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
}

.timeline dl, .timeline p {
  background: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  margin-bottom: 2em;
}

.timeline dl:last-child, .timeline p:last-child {
  margin-bottom: 4em;
}

.timeline dl dt {
  font-weight: bold;
}

.timeline dl dd {
  margin: 0 0 .5em;
}

.timeline p {
  text-align: left;
}

.timeline img {
  width: 100%;
  height: auto;
}

.timeline h5 {
  background: white;
  border: 1px solid lightgray;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin-bottom: 0;
}

.timeline h5 + p {
  margin-top: 0;
  border-top: 0;
  border-radius: 0 0 10px 10px;
}

.timeline .end {
  color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
